@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Noto+Sans+Devanagari:wght@400;500;600&display=swap');
@import "tailwindcss";
body {
  font-family: 'Poppins', 'Noto Sans Devanagari', sans-serif;
}

:root {
  --primary-color: #ec4899;
  --secondary-color: #fbcfe8;
  --bg-image: none;
}

body {
  min-height: 100vh;
  width: 100%;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  background-repeat: no-repeat;
  

}
